h2 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

.default {
    margin: 0 25%;
}

.default p {
    font-size: 25px;
}

#map {
    height: 400px;
    width: 100%;
}

.homepage-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/test_banner.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.banner-content {
    max-width: 600px;
    margin: 0 auto;
}

.name {
    font-size: 3em;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.5em;
}

.navbar {
    background-color: #777777;
    color: #fff;
    padding: 10px 0;
    position: relative;
    z-index: 1000;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    animation: fadeIn 0.5s;
}

.navbar-container img {
    width: 30px;
    cursor: pointer;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.webpage-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #777777;
    color: #fff;
    padding: 10px 20px;
}

.left-section h1 {
    margin: 0;
}

.right-section img {
    width: 100px;
    height: auto;
}

.site-footer {
    background-color: #777777;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.float-left {
    float: left;
    margin: 0 20px 0 0;
}

.float-right {
    float: right;
    margin: 0 0 0 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.placeholder-box {
    background-color: #999999;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    margin: 8px;
    height: 300px;
    font-weight: bold;
}