img {
    width: 100%;
    height: auto;
}
nav {
    background-color: yellow;
    overflow: hidden;
    font-size: 125%;
}
nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
}
nav a:hover {
    background-color: #ffe600;
    color: black;
}
.default {
    margin: 0 25%;
}
.homepage-banner {
    position: relative;
    display: inline-block;
}
.homepage-banner h1 {
    position: absolute;
    top: 60px;
    left: 25px;
    color: white;
    font-size: 100px;
}
.homepage-banner h2 {
    position: absolute;
    top: 220px;
    left: 30px;
    color: white;
}
.homepage-banner img {
    display: block;
}